html {
  height: 100%;
}
body {
  height: 100%;
  font-family: Arial;
  margin: 0;
  padding: 0;
  background: url("https://images2.alphacoders.com/117/thumb-1920-117712.jpg");
  background-position: 100%;
  background-repeat: no-repeat;
}
.keys {
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.key {
  border: 4px solid black;
  border-radius: 5px;
  margin: 1rem;
  font-size: 1.3rem;
  padding: 1rem 0.5rem;
  transition: all 70ms;
  width: 100px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  background-repeat: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 5px black;
}
kbd {
  display: block;
  font-size: 40px;
  color: white;
  font-weight: bold;
}
.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 10px #ffc600;
}
.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ffc600;
}
